@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("http://i.imgur.com/2VWtMhg.jpg") center center;
  background-size: cover;

}

 /* Grid System */
.container {
  width: 100%;
}

.row {
  display: flex;
}

/* Nav Styles */
.nav {
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #22313f;
}

.nav h2 {
  text-shadow: 2px 2px black;
}

.weather-form input {
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  box-shadow: 1px 1px 1px lightgrey;
}

.nav .weather-form input {
    margin-right: 20px;
}

.weather-form-button {
  background-color: #2ecc71;
  color: white;
  font-size: 14px;
  padding: 8px;
  border: 0;
  border-radius: 5%;
  font-weight: bold;
  cursor: pointer;
}

/* Home Page Styles */
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.home h1 {
  font-size: 40px;
}

.home .weather-form {
  align-items: center;
}

.home .weather-form input {
  border: 1px solid darkgrey;
}

.home .weather-form-button {
  display: block;
  width: 100px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
}

.weather-form-button {
  text-align: center;
  text-decoration: none;
}

.forecast {
  margin-left: 10px;
}

/* General Typography classes*/
.text-center {
  text-align: center;
}

/* Mobile */

@media (max-width: 600px) {
  .nav {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .home {
    justify-content: flex-start;
  }
}
